package views

templ Hero() {
	<section class="bg-surface p-5 rounded-2xl text-center">
		<h1>Welcome to Marxists.org</h1>
		<p>The Marxists Internet Archive (MIA) is an all-volunteer, non-profit public library, established in its present form in 1998 (see also the MIA history page for the archive's earlier history). In 2022, MIA averaged 3.3 million visitors per month, downloading 27.5 million files per month. This represents a 79% increase in visitors since 2013.</p>
	</section>
}
